.buttomWrapper {
	width: 95%;
	padding: 15px;
	border: none;
	border-radius: 16px;
	margin: auto;
	margin-top: 20px;
	background: white;
	box-shadow: -5px -5px 5px #e0dfdf, 5px 5px 5px #e0dfdf;
	font-size: 16px;
	cursor: pointer;
}
