.transaction {
	padding-top: 0;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	padding: 14px 16px;
	border-radius: 16px 16px 0 0;
}

.title {
	text-align: left;
	font-size: 20px;
	font-weight: 500;
}

.allTransaction {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	padding: 20px;
	padding-bottom: 0;
}

.row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	padding: 8px;
	border-bottom: 1px solid #dcdcdc;
}

.row:first-child{
	padding-top: 0;
}

.row:last-child{
	border: none;
	padding-bottom: 0;
}

.dateAndPurpose {
	display: flex;
}

.date {
	display: block;
	width: 90px;
}

.date,
.purpose {
	text-align: left;
}

.actualPrice i:last-child {
	margin-left: 10px;
	font-size: 15px;
	color: #373791;
}

.editModal {
	width: 250px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #eee;
}

.main {
	width: 100vw;
}


@keyframes slideLeft {
	0% {
		transform: translateX(300px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.actions {
	justify-content: space-around;
	padding: 0;
	background-image: linear-gradient(90deg,  #163b8b 45%,  #b64646 55%);
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #e6e6e6;
	color: white;
}

.actions span {
	width: 50%;
	padding: 15px 0;
	font-size: 20px;
	cursor: pointer;
}

.actions span:first-child {
	/* background-color: #bdecff; */
	border-radius: 16px 0 0 16px;
}

.actions span:last-child {
	/* background-color: #ffa8a8; */
	border-radius: 0 16px 16px 0;
}

.deletePopup {
	padding: 20px;
}
