.transaction {
	padding-top: 0;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	padding: 14px 16px;
	border-radius: 16px 16px 0 0;
}

.title {
	text-align: left;
	font-size: 20px;
	font-weight: 500;
}

.allTransaction {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	padding: 20px;
	padding-bottom: 0;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
	padding: 4px;
	border-bottom: 1px solid #dcdcdc;
}

.row:first-child{
	padding-top: 0;
}

.row:last-child{
	border: none;
	padding-bottom: 0;
}

.dateAndPurpose {
	display: flex;
}

.date {
	display: block;
	width: 90px;
}

.date,
.purpose {
	text-align: left;
}

.actualPrice i:last-child {
	margin-left: 10px;
	font-size: 15px;
	color: #373791;
	padding: 8px;
}

.editModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
}

.editModal > button{
	border-bottom: 1px solid #dadada;
	padding: 10px 25px;
	font-size: 16px;
	color: #002982;
	font-weight: 600;
	letter-spacing: 0.3px;
	text-transform: capitalize;
}

.main {
	width: 100vw;
	scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Make sure each view fills the viewport */
.sliding-container {
    overflow-x: hidden;
}

/* Apply auto-scroll reset when component becomes visible */
.usersDetails {
    scroll-padding-top: 0;
}

/* Make action buttons sticky at the top */
.actions {
	justify-content: space-around;
	padding: 0;
	background-image: linear-gradient(90deg,  #163b8b 45%,  #b64646 55%);
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #e6e6e6;
	color: white;
	position: sticky;
	top: 0;
	z-index: 10;
}

.actions span {
	width: 50%;
	padding: 15px 0;
	font-size: 20px;
	cursor: pointer;
}

.actions span:first-child {
	/* background-color: #bdecff; */
	border-radius: 16px 0 0 16px;
}

.actions span:last-child {
	/* background-color: #ffa8a8; */
	border-radius: 0 16px 16px 0;
}

.confirmationTitle{
	font-size: 18px;
	font-weight: 500;
	color: #202020;
	padding-bottom: 10px;
	letter-spacing: 0.3px;
}

.deletePopup {
	padding: 16px;
}

@keyframes slideLeft {
	0% {
		transform: translateX(300px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
