.wrapper {
	justify-content: space-evenly;
	height: 220px;
	background-color: #edf3ff;
	margin: 20px auto;
}

.detailsCard{
	width: 100%;
	height: 160px;
	background-color: #d8effe;
	margin: 0 auto 20px;
	position: fixed;
	z-index: 10000;
	top: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 6px 10px 0px #d7d7d7;
}

.profilePic {
	width: 70px;
	height: 70px;
	margin-bottom: 10px;
}

.profileContainer {
	display: flex;
	justify-content: center;
	width: fit-content;
	flex-direction: column;
	align-items: center;
}

.profilePic img {
	border-radius: 50%;
}

.profileText {
	width: 100%;
	font-family: 'Kavoon', cursive;
}

.flexClass {
	display: flex;
	justify-content: center;
}

.profileText span:first-child {
	font-size: 20px;
	font-weight: 300;
}

.profileText span:last-child {
	font-size: 24px;
	font-weight: 500;
	text-transform: capitalize;
}

.profilePic i {
	font-size: 65px;
}

.fa-arrows-up-down {
	transform: rotate(90deg);
	font-size: 30px;
}

.transferIcons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 25px;
	color: #008bc6;
}

.transferIcons i:last-child {
	transform: translateY(-7px);
}
