.nav {
	width: 100% !important;
	height: 50;
	position: fixed;
}
.nav div {
	width: 90% !important;
	margin: auto;
	display: flex;
	justify-content: space-between !important;
	align-items: center;
}
@media screen and (max-width: 500px) {
	.nav div {
		width: 95%;
	}
}
