
.user {
	width: 58%;
	text-align: left;
	display: flex;
	align-items: center;
}
.profileImage {
	width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilePicture i {
	font-size: 50px;
	color: #39354b;
}

.userName {
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 500;
	margin-left: 20px;

	color: #000061;
}

.card_balance {
	font-size: 17px;
	font-weight: 600;
	width: 30%;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
}

.card_balance i{
	color: #16169f;
}

.fa-chevron-right {
	font-size: 18px;
	color: gray;
	margin-left: 10px;
}
