.header {
	font-weight: 700;
	font-size: 1rem;
}
.far,
.fa-plus-square {
	font-size: 1.4rem;
	color: #141450;
}
.fa-trash-alt,
.fa-edit {
	color: green;
}
.fa-trash-alt {
	color: rgb(216, 63, 3);
}
.fa-plus-square {
	font-size: 1.7rem;
	color: #141450;
}
.name {
	font-weight: 600;
}

.editCol span {
	width: 20%;
}
