body {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #eee;
}
.App {
	text-align: center;
	width: 100%;
	overflow: hidden;
}
i {
	cursor: pointer;
}

.basicCard {
	width: 90%;
	padding: 20px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 16px;
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #e6e6e6;
	margin: 15px auto;
	background-color: white;
}

* {
	box-sizing: border-box;
}

.loadingAnimation {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


.usersDetails{
	margin-top: 120px;
    height: calc(100vh - 175px);
    overflow: scroll;
}

.MuiPaper-rounded {
    border-radius: 16px !important;
}