.messages {
	width: 100%;
	height: 100vh;
	color: #d3e9fd;
	background-repeat: no-repeat;
	background-position: center;
    background-color: #102223;
    background-size: contain;
}
.messages div {
	width: 80%;
	margin: auto;
}

.bottom_section{
	position: fixed;
	bottom: 80px;
}