/*======================
    404 page
=======================*/

.container404 {
	width: 100%;
	background: white;
	height: 95vh;
	margin-top: 2vh;
}

.page_404 {
	width: 100%;
	padding: 40px 0;
	background: #fff;
	font-family: 'Arvo', serif;
}

.page_404 img {
	width: 90%;
}

.four_zero_four_bg {
	background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
	height: 360px;
	background-position: center;
}

.four_zero_four_bg h1 {
	font-size: 80px;
}

.four_zero_four_bg h3 {
	font-size: 80px;

}

.link_404 {
	color: #fff !important;
	padding: 10px 20px;
	background: #39ac31;
	margin: 20px 0;
	display: inline-block;
}
.contant_box_404 {
	margin-top: -50px;
	padding: 0 10px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.col-sm-12 {
	width: 100%;
}

.row404 {
	padding: 0 !important;
}

.subtitle{
	margin-top: -15px;
	margin-bottom: 30px;
}

.retryButton{
	font-size: 16px;
	color: #33087d;
	font-weight: 600;
}